body {
    font-family: Didot, serif;
    background-color: #FEFEFE;
}
h1 {
    margin: 30px;
    color: #885c39;
}

img {
    text-align: center;
}
ul {
    font-family: Didot, serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#fef2ec ;
}

li {
    font-family: Didot, serif;
    float: left;
    color: #885c39;
    display: block;
    text-align: center;
    padding: 16px;
}

.profileTitle {
    font-family: Didot, serif;
    color: lightcoral;

}

form {
    font-family: Didot, serif;
     color: #885c39;
 }

a {
    font-family: Didot, serif;
    color: #885c39;
}


footer {
    font-family: Didot, serif;
    text-align: center;
    padding: 3px;
    background-color: #eae3d3;
    color: rosybrown;
}