body {
    background-color: #FEFEFE;

}

#title{
    text-shadow: #f3cbc8 2px 2px 2px ;
}

h1 {
    font-family: Didot, serif;
    margin: 30px;
    color: #885c39;
}

#active {
    color: lightcoral;
}

img {
    float: right;
}
ul {
    font-family: Didot, serif;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color:#fef2ec ;
}

li {
    font-family: Didot, serif;
    margin: 10px;
    float: left;
    color: #885c39;
    display: block;
    text-align: center;
    padding: 16px;
}

li.steps {
    text-align: left;
    margin: 20px;
}

a {
    color: #885c39;
}

h3, h4, h5 {
    margin: 20px;
    color: lightcoral;
    text-align: center;
}

form {
    color: #f59a9a;
    margin-left: 50px;
}

.error {
    border: 1px black solid;
    border-radius: 25px;
    margin: 10px 10px;
    padding: 5px 5px;
    background-color: crimson;
    width: 300px;
    color: #FEFEFE;
}

.button {
    border-radius: 12px;
    padding: 10px 24px;
    color: lightcoral;
    background-color: #f6eee0;
    border: 2px solid #a6744c;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(253, 202, 202, 0.24), 0 17px 50px 0 rgba(211, 176, 176, 0.19);
}

footer {
    font-size: 14px;
    font-family: "Reenie Beanie", cursive;
    text-align: center;
    padding: 3px;
    margin: 10px;
    background-color: #eae3d3;
    color: #885c39;
}


